name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # 프론트엔드
      - name: Install dependencies (frontend)
        run: |
          cd frontend
          npm install

      - name: Build frontend
        run: |
          cd frontend
          npm run build

      - name: Deploy frontend
        env:
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_KEY: ${{ secrets.SERVER_KEY }}
        run: |
          ssh -i $SERVER_KEY $SERVER_USER@$SERVER_HOST "
          cd /path/to/frontend &&
          git pull &&
          npm install &&
          pm2 restart frontend-app || pm2 start frontend-app --name frontend-app -- node server.js
          "

      # 백엔드
      - name: Install dependencies (backend)
        run: |
          cd backend
          npm install

      - name: Deploy backend
        env:
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_KEY: ${{ secrets.SERVER_KEY }}
        run: |
          ssh -i $SERVER_KEY $SERVER_USER@$SERVER_HOST "
          cd /path/to/backend &&
          git pull &&
          npm install &&
          pm2 restart backend-app || pm2 start backend-app --name backend-app -- node ./bin/www
          "
